.main{
  display: flex;
  flex-direction: row;
}
#buttonContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}
button{
  background-color: #3090ff;
  border-radius: 1ch;
  padding: 10px;
  margin: 6px;
  margin-top: 20px;
  border-style: none;
  color: white;
  font-weight: 500;
  font-size: medium;
  width: 100%;
  height: 20%;
}